services:
  web:
    build: .
    container_name: django_app
    expose:
      - 8000
    volumes:
      - static_volume:/app/staticfiles

    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env


  db:
    image: postgres:17
    ports:
      - 5432:5432
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  frontend:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/static:ro
    depends_on:
      - web


volumes:
  postgres_db:
  static_volume:




    