{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Hamkorlik" %}{% endblock %}

{% block content %}

   
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url('{% static 'images/page-banner-7.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{% trans "Hamkorlik" %}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">{% trans "Bosh sahifa" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% trans "Hamkorlik" %}</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== EVENTS PART START ======-->
    
    <section id="event-page" class="pt-90 pb-120">
        <div class="container h-container pb-40 pr-40 pl-40 pt-40 gray-bg">
            <h1 class="">{% trans "Hamkorlik" %}</h1>
            <div class="mt-40 row h-row ">
                <div class="hamkor-temp mr-10 mb-40">
                    <img src="{% static 'images/patnar-logo/p-1.png' %}" alt="">
                    <h4 class="mt-20 mb-20">{% trans "Hamkorlik" %}</h4>
                    <p>{% blocktrans %}
                        Toshkent turizm va madaniy meros texnikumi mahalliy va xalqaro hamkorlikka katta e’tibor qaratadi. Hamkorlikning asosiy maqsadi — o‘quv dasturlarini boyitish, talabalar uchun amaliyot va ish o‘rinlari yaratish, qo‘shma loyihalar ishlab chiqish, tajriba almashinuvi va ta’lim sifatini xalqaro standartlarga moslashtirishdir.

Xalqaro ta’lim hamkorlari:

- “Ipak yo‘li” Xalqaro Turizm Universiteti (Samarqand) — turizm bo‘yicha ilg‘or ilmiy-amaliy markaz.

- Sankt-Peterburg sayyohlik va mehmonxonalarga xizmat ko‘rsatish kolleji (Rossiya) — mehmondo‘stlik sohasida yetakchi o‘quv dargohlaridan biri.

- Jiangxi Fenglin College of Foreign Economy & Trade (Xitoy) — xalqaro savdo va xizmat ko‘rsatish ta’limi bo‘yicha hamkor.

- Astraxan moliya-iqtisodiyot instituti (Rossiya) — moliya, iqtisodiyot, servis sohalari bo‘yicha qo‘shma dasturlar.

- TISBI kolleji (Tatariston, Rossiya) — menejment va servis yo‘nalishlari bo‘yicha almashinuv dasturlari.

- Neft texnika universiteti qoshidagi Turizm va servis instituti (Boshqirdiston) — amaliyotga yo‘naltirilgan hamkorlik loyihalari.

Mahalliy OTMlar bilan hamkorlik:

- Toshkent davlat iqtisodiyot universiteti

- “Alfraganus” universiteti

- “Ipak yo‘li” Xalqaro Turizm Universiteti

2+2 qo‘shma dasturlari (O‘qishni 2-kursdan davom ettirish):

Texnikumni tugatgan o‘quvchilar suhbat asosida yuqoridagi OTMlarda 2-kursdan o‘qishni davom ettirishi mumkin. Bu talabalarga vaqtni tejash, xalqaro dasturlar bo‘yicha o‘qish imkoniyati va tezkor kasbiy o‘sishni ta’minlaydi.

Amaliy hamkorlar:

- Toshkentdagi mehmonxonalar

- Turizm agentliklari

- Restoranlar

- Servis markazlari

Ular o‘quvchilarga real ish sharoitida amaliyot o‘tash va ishga joylashish imkoniyatini yaratadi.

Hamkorlik maqsadlari:

- Akademik almashinuv (ustoz va talabalar)

- Qo‘shma ilmiy va innovatsion loyihalar

- Masofaviy elektron o‘qitish tizimlari

- Ikkinchi mutaxassislik olish imkoniyatlari

- O‘quv jarayonini xalqaro standartlarga moslashtirish
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div> <!-- container -->
    </section>
    
    <div id="patnar-logo" class="pt-80 pb-80">
        <div class="container">
            <h4 class="mb-40" style="text-align: center;">{% trans "HAMKORLARIMIZ" %}</h4>
            <div class="row patnar-slied">
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/partnar/alfra.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/partnar/china.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/partnar/imzf.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/partnar/ipakyuli.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/partnar/tdiu.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-20 mr-20">
                        <img src="{% static 'images/partnar/tika.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img style="width: 150px; height: auto;" src="{% static 'images/partnar/tisbi.png' %}" alt="Logo">
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> 

    <!--====== EVENTS PART ENDS ======-->
{% endblock %}