{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Bosh sahifa" %}{% endblock %}

{% block content %}
    
    <section id="slider-part" class="slider-active">
        <div class="single-slider bg_cover pt-150" style="background-image: url('{% static 'images/slider/s-1.jpg' %}')" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">{% trans "Ta'lim uchun to'g'ri manzilni tanlang" %}</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">{% blocktrans %}Turizm, servis va zamonaviy kasblar sohasida mustahkam bilim, amaliy tajriba va xalqaro imkoniyatlarga ega bo‘ling. Toshkent turizm va madaniy meros texnikumi — kelajagingizni ishonchli bilim, kuchli tajriba va to‘g‘ri yo‘l bilan quradigan maskan.{% endblocktrans %}</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'tarix' %}">{% trans "Batafsil" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider bg_cover pt-150" style="background-image: url('{% static 'images/slider/s-2.png' %}')" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">{% trans "Ta'lim uchun to'g'ri manzilni tanlang" %}</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">{% blocktrans %}Zamonaviy yo‘nalishlar, tajribali ustozlar va amaliyotga yo‘naltirilgan ta’lim — bu sizga mustahkam kasbiy poydevor beradi. To‘g‘ri muassasani tanlab, kelajagingiz sari ishonch bilan qadam qo‘ying.{% endblocktrans %}</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'tarix' %}">{% trans "Batafsil" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider bg_cover pt-150" style="background-image: url('{% static 'images/slider/s-3.jpg' %}')" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">{% trans "Ta'lim uchun to'g'ri manzilni tanlang" %}</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">{% blocktrans %}Turizm, servis va zamonaviy kasblar sohasida mustahkam bilim, amaliy tajriba va xalqaro imkoniyatlarga ega bo‘ling. Toshkent turizm va madaniy meros texnikumi — kelajagingizni ishonchli bilim, kuchli tajriba va to‘g‘ri yo‘l bilan quradigan maskan.{% endblocktrans %}</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'tarix' %}">{% trans "Batafsil" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-part">
        <div class="container">
            <div class="category pt-40 pb-80">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="category-text pt-40">
                            <h2>{% trans "Eng zo'r bilimlar maskani taqdim etadi:" %}</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                        <div class="row category-slied mt-40">
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-1.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Turizm" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-2.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Moliya" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-3.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Oshpazlik" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-4.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Kompyuter" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-2.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Buxgalteriya" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-6.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Sartaroshlik" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-7.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Mehmonxona" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'yunalishlar' %}">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-2.png' %}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>{% trans "Menejment" %}</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                        </div> <!-- category slied -->
                    </div>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
   
    <!--====== ABOUT PART START ======-->
    
    <section id="about-part" class="pt-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>{% trans "Biz haqimizda" %}</h5>
                        <h2>{% trans "Xush kelibsiz!" %}</h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p>{% blocktrans %}
                            Toshkent turizm va madaniy meros texnikumi — 1979 yildan buyon O‘zbekiston va Markaziy Osiyoda turizm, 
                            mehmondo‘stlik va xizmat ko‘rsatish sohalari bo‘yicha yetuk mutaxassislar tayyorlab kelayotgan yetakchi ta’lim muassasidir. 
                            Texnikumda zamonaviy ta’lim usullari, malakali ustozlar, dual o‘qish imkoniyati va keng hamkorlik tarmog‘i mavjud. 
                            Biz bilan birga kelajagingizni ishonch bilan qurishingiz mumkin.
                            {% endblocktrans %}
                        </p>
                        <a href="{% url 'tarix' %}" class="main-btn mt-55">{% trans "Ko'proq" %}</a>
                    </div>
                </div> <!-- about cont -->
                {% if elonlar %}
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-event mt-50">
                        <div class="event-title">
                            <a href="{% url 'elonlar' %}"><h3>{% trans "Elonlar" %}</h3></a>
                        </div>
                        <ul>  <!--ELONLAR-->
                            {% for elon in elonlar %}
                            <li>
                                <div class="singel-event">
                                    <span><i class="fa fa-calendar"></i>  {{ elon.date }}</span>
                                    <a href="{% url 'elon' elon.slug %}"><h4>{{ elon.title|truncatechars:100 }}</h4></a>
                                    <span><a href="{% url 'elon' elon.slug %}"> {% trans "Ko'proq" %}</a></span>
                                </div>
                            </li>
                            {% endfor %}

                        </ul> 
                    </div>
                </div>
                {% endif %}
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-bg">
            <img src="{% static 'images/about/bg-1.png' %}" alt="About">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    {% if yangiliklar %}
    <!--====== NEWS PART START  YANGILIKLAR======-->
    <section id="news-part" class="pt-115 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-50">
                        <a href="{% url 'yangiliklar' %}"><h2>{% trans "Yangiliklar" %}</h2></a>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

<div class="row">
    
    <div class="col-lg-6">
        <div class="singel-news mt-30">
            {% if yangiliklar.0.image %}
                <div class="news-thum pb-25">
                    <img src="{{ yangiliklar.0.image.url}}" alt="News">
                </div>
            {% endif %}
            <div class="news-cont">
                <ul>
                    <li>
                        <span><i class="fa fa-calendar"></i>  {{ yangiliklar.1.date }}</span>
                    </li>
                </ul>
                {% if yangiliklar.0.slug %}
                    <a href="{% url 'yangilik' yangiliklar.0.slug %}"><h3>{{ yangiliklar.0.title|truncatechars:100 }}</h3></a>
                {% else %}
                    <h3>{{ yangiliklar.0.title }}</h3>
                {% endif %}
                <p>{{ yangiliklar.0.description|truncatechars:250 }}</p>
            </div>
        </div> <!-- singel news -->
    </div>

    <div class="col-lg-6">
        
        {% if yangiliklar|length > 1 %}
        <div class="singel-news news-list mt-30">
            <div class="row">
                <div class="col-sm-4">
                    {% if yangiliklar.1.image %}
                        <div class="news-thum">
                            <img src="{{ yangiliklar.1.image.url }}" alt="News">
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <div class="news-cont">
                        <ul>
                            <li>
                                <span><i class="fa fa-calendar"></i>  {{ yangiliklar.1.date }}</span>
                            </li>
                        </ul>
                        {% if yangiliklar.1.slug %}
                        <a href="{% url 'yangilik' yangiliklar.1.slug %}"><h3>{{ yangiliklar.1.title|truncatechars:50 }}</h3></a>
                        {% else %}
                        <h3>{{ yangiliklar.1.title }}</h3>
                        {% endif %}
                        <p>{{ yangiliklar.1.description|truncatechars:100 }}</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- singel news -->
        {% endif %}
        
        {% if yangiliklar|length > 2 %}
        <div class="singel-news news-list mt-30">
            <div class="row">
                <div class="col-sm-4">
                    {% if yangiliklar.2.image %}
                        <div class="news-thum">
                            <img src="{{ yangiliklar.2.image.url }}" alt="News">
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <div class="news-cont">
                        <ul>
                            <li>
                                <span><i class="fa fa-calendar"></i>  {{ yangiliklar.2.date }}</span>
                            </li>
                        </ul>
                        {% if yangiliklar.2.slug %}
                        <a href="{% url 'yangilik' yangiliklar.2.slug %}"><h3>{{ yangiliklar.2.title|truncatechars:50 }}</h3></a>
                        {% else %}
                        <h3>{{ yangiliklar.2.title }}</h3>
                        {% endif %}
                        <p>{{ yangiliklar.2.description|truncatechars:100 }}</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- singel news -->
        {% endif %}

        {% if yangiliklar|length > 3 %}
        <div class="singel-news news-list mt-30">
            <div class="row">
                <div class="col-sm-4">
                    {% if yangiliklar.3.image %}
                        <div class="news-thum">
                            <img src="{{ yangiliklar.3.image.url }}" alt="News">
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <div class="news-cont">
                        <ul>
                            <li>
                                <span><i class="fa fa-calendar"></i>  {{ yangiliklar.3.date }}</span>
                            </li>
                        </ul>
                        {% if yangiliklar.3.slug %}
                        <a href="{% url 'yangilik' yangiliklar.3.slug %}"><h3>{{ yangiliklar.3.title|truncatechars:50 }}</h3></a>
                        {% else %}
                        <h3>{{ yangiliklar.3.title }}</h3>
                        {% endif %}
                        <p>{{ yangiliklar.3.description|truncatechars:100 }}</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- singel news -->
        {% endif %}
    </div> 
    
</div> <!-- end row -->
            
        </div> <!-- container -->
    </section>
    {% endif %}
    
    
    <div id="patnar-logo" class="pt-80 pb-80">
        <div class="container">
            <div class="row patnar-slied">
                <div class="col-lg-12" style="width: 240px;">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/patnar-logo/p-1.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12" style="width: 240px;">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12" style="width: 240px;">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12" style="width: 240px;">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/patnar-logo/p-4.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12" style="width: 240px;">
                    <div class="singel-patnar text-center mt-20 mb-20 ml-40 mr-40">
                        <img src="{% static 'images/patnar-logo/p-5.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12" style="width: 240px;" >
                    <div class="singel-patnar text-center mt-20 mb-20 ml-20 mr-20">
                        <img src="{% static 'images/patnar-logo/p-6.png' %}" alt="Logo">
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> 
{% endblock  %}