{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load i18n %}

{% block title %}{% trans "Yangiliklar" %}{% endblock %}

{% block content %}
   
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url('{% static 'images/page-banner-4.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{% trans "Yangiliklar" %}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">{% trans "Bosh sahifa" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% if request.resolver_match.url_name == "elonlar" %}Elonlar{% else %}Yangiliklar{% endif %}</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== BLOG PART START ======-->
    
    <section id="blog-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
           <div class="row" style="display:flex; justify-content: center; text-align: center">
               <div class="pl-40 pr-40 pt-40 pb-40" style="width:100%">


                    {% if objects %}
                    {% for object in page_obj %}
                        
                        <div class="singel-blog mt-30">
                            {% if object.image %}
                                <div style="display: flex; justify-content: center;" class="blog-thum">
                                    <img style="width:auto; height: auto;" src="{{ object.image.url }}">
                                </div>
                            {% endif %}
                            <div class="blog-cont" style="max-width:70%; text-align: start;">
                                <a style="width: fit-content;" href="{% if object|get_class_name == "Yangiliklar" %}{% url 'yangilik' object.slug %}{% else %}{% url 'elon' object.slug %}{% endif %}">
                                    <h3>{{ object.title }}</h3>
                                </a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>{{ object.date }}</a></li>
                                </ul>
                                <p style="height: 105px; overflow: hidden; text-align: start;">{{ object.description }}</p>
                            </div>
                        </div> <!-- singel blog -->

                        {{ object.full_name|upper }}<br>
                        
                    {% endfor %}
                                    

                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-lg-end justify-content-center">

                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a href="?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}</a></li>
                            {% endif %}


                            <li class="page-item"><a class='active' style="background-color: #0000FE;" hover href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                

                            {% if page_obj.has_next %}
                            <li class="page-item"><a href="?page={{ page_obj.number|add:+1 }}">{{ page_obj.number|add:+1 }}</a></li>
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>

                            <style>
                                .page-item a:hover{
                                    background-color: #1878BE;
                                    border-color: #1878BE;
                                }
                            </style>
                            {% endif %}


                        </ul>
                    </nav>  <!-- courses pagination -->
                    {% else %}
                    <h1>Ooops... Yangiliklar yo`q!</h1>
                    {% endif %}








               </div>
           </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== BLOG PART ENDS ======-->
{% endblock %}
   