.support-icon{
    width: 40px;
    height: 40px;
}

.header-icon{
    width: 16px;
    height: 16px;
}

.footer-icon-1{
    width: 16px;
    height: 16px;
}

footer .cont{
    margin-top: -26px;
}

.h-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hamkor-temp{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .hdr-title{
    max-width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.hdr-contact,
.hdr-logo{
    max-width:fit-content
}

@media (max-width: 770px) {
    .hamkor-temp{
        width: 100%;
    }
    .h-row{
        flex-direction: column;
    }
}