.support-icon {
    width: 40px;
    height: 40px;
}

.header-icon {
    width: 16px;
    height: 16px;
}

.footer-icon-1 {
    width: 16px;
    height: 16px;
}

#footer-part {
    background-color: #07294d;
}

.cont p,
.news-cont p {
    word-wrap: break-word;
}

.news-thum img {
    width: 100%;
}

footer .cont {
    margin-top: -26px;
}

.h-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hamkor-temp {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hdr-title {
    max-width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hdr-logo {
    max-width: fit-content;
}

.hdr-contact {
    max-width: fit-content;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: fit-content;
}

.nwrp-row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

.jc-c {
    justify-content: center;
}

.singel-blog img {
    width: 100%;
    height: 250px;
}

.header-row {
    flex-wrap: nowrap;
}

@media (max-width:995px) {
    .header-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 770px) {
    .hamkor-temp {
        width: 100%;
    }

    .h-row {
        flex-direction: column;
    }
}